streamlit>=1.29.0
opencv-python-headless>=4.8.0
numpy>=1.24.0
scikit-learn>=1.4.0
scikit-image>=0.22.0
matplotlib>=3.7.0
Pillow>=10.0.0
setuptools>=69.0
wheel
ipywidgets
torch>=2.1.0
torchvision>=0.16.0
pyora>=0.3.11
pandas>=2.0.0
tqdm
seaborn
colorama
packaging
scipy>=1.11.0  # Добавить для математических операций
threadpoolctl>=3.2.0  # Для управления потоками в scikit-learn
joblib>=1.3.0  # Для параллельных вычислений
networkx>=3.1  # Может потребоваться для scikit-image
imageio>=2.31.0  # Для работы с изображениями
opencv-contrib-python>=4.8.0  # Для дополнительных функций OpenCV
